*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  h1{
    font-size: 50px;
    position: absolute;
    top: 10%;
    color: rgb(14, 20, 19);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .balll img{
    height: 300px;
    width: 600px;
  
    position: absolute;
    left:60%;
    top : 2%;
  }
 img .poked {
    height: 2000px;
  }